:root {
  --text-color: #757575;
  --background-color: #fff;
}
a,
footer {
  text-decoration: none;
}
body {
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.2;
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

/* .nav {
} */
.raleway {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo {
  color: #2196f3;
}
.studio {
  color: black;
}
.nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.hero {
  background-color: #2f303a;
  width: max-content;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  cursor: pointer;
}
/* .advantage {
} */
.advantage-hidden-title {
  visibility: hidden;
}
.advantage-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* .our-work {
} */
.our-work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* .our-work-list {
} */
/* .our-team {
} */
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* .our-team-list {
} */
.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer {
  background: #2f303a;
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
/* .footer-addres {
} */
.footer-addres-list {
  font-style: normal;
}

.footer-studio {
  line-height: 1.2em;
  color: #fff;
}
.footer-addres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: #2196f3;
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #fff;
  background-color: #2196f3;
}
.portfolio-list-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-item {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
